* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#grid {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 260px;
    width: 260px;
}

.square {
    border: 1px solid blue;
    height: 16px;
    width: 16px;
}