* {
    box-sizing: border-box;
    font-family: "Lacquer", system-ui;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dd0000;
}

#div {
    display: flex;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#grid {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 42rem;
    width: 42rem;
    margin: 2rem 6rem;
    background-color: #fff;
}

.square {
    border: 1px solid #dadada;
    width: calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
}

.hoovered {
    background-color: #1f1f1f;
}

h1 {
    color: #fff;
    font-size: 3rem;
}

button {
    width: 5rem;
    height: 5rem;
    text-align: center;
}