* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#grid {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: 6rem;
}

.square {
    border: 1px solid blue;
}

.hoovered {
    background-color: black;
}