* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div {
    display: flex;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#grid {
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 37.5rem;
    width: 37.5rem;
    margin: 1rem 10rem;
}

.square {
    border: 1px solid #dadada;
}

.hoovered {
    background-color: #000;
}

button {
    width: 5rem;
    height: 5rem;
    text-align: center;
}